<!DOCTYPE html>
<html lang="<%= config.language %>">

<head>
    <%- partial('_partial/head',{cache: true}) %>
</head>

<body>
    <div class="wrapper">
        <%- partial('_partial/header',{cache: true}) %>
            <div class="main">
                <%- body %>
            </div>
        <%- partial('_partial/footer',{cache: true}) %>
    </div>

    <script data-cfasync="false">
        function setTheme(status = 'dark') {
            const pageBody = document.getElementsByTagName('body')[0]
            if (status === 'dark') {
                window.localStorage.theme = 'dark'
                pageBody.classList.add('dark-theme');
                document.getElementById("switch_default").checked = true
                document.getElementById("mobile-toggle-theme").innerText = "· Dark"
            } else {
                window.localStorage.theme = 'light'
                pageBody.classList.remove('dark-theme');
                document.getElementById("switch_default").checked = false
                document.getElementById("mobile-toggle-theme").innerText = "· Light"
            }
        }

        function toggleTheme() {
            setTheme(window.localStorage.theme)

            document.getElementsByClassName('toggleBtn')[0].addEventListener('click', () => {
                window.localStorage.theme = window.localStorage.theme === 'dark' ? 'light' : 'dark'
                setTheme(window.localStorage.theme)
                document.getElementById("switch_default").checked = window.localStorage.theme === 'light'
            })
            document.getElementById('mobile-toggle-theme').addEventListener('click', () => {
                window.localStorage.theme = window.localStorage.theme === 'dark' ? 'light' : 'dark'
                setTheme(window.localStorage.theme)
                document.getElementById("mobile-toggle-theme").innerText = window.localStorage.theme === 'light' ? "· Light" : "· Dark"
            })
        }

        toggleTheme()
    </script>
</body>

</html>